/*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     Config to store EBI's Codon cluster specifics
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

params {
    outdir               = "results"
    singularity_cachedir = "/hps/nobackup/rdf/metagenomics/service-team/singularity-cache/"

    ref_genome = "GENOME.fasta"
}

conda.enabled = false

singularity {
    enabled = true
    autoMounts = true
    cacheDir = params.singularity_cachedir
}

workDir = "/hps/nobackup/rdf/metagenomics/service-team/nextflow-workdir/mini-qc/$USER/"

process {

    withName: ALIGNMENT_DECONTAMINATION {
        cpus = 16
        memory     = { 50.GB * task.attempt }
        maxRetries    = 3
    }
}