/*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     Config to store module specific params.
     - publishDir
     - ext arguments
     - prefixes
     ( execution params are in nf_*.config )
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {

    withName: "FASTP" {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/fastp" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if ( filename.equals('versions.yml') ) {
                    return null;
                }
                return new File(filename).name;
            },
            failOnError: true
        ]
    }

    withName: ALIGNMENT_DECONTAMINATION {

        publishDir = [
            path: { "${params.outdir}/${meta.id}/decontamination" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if ( filename.equals('versions.yml') ) {
                    return null;
                }
                return new File(filename).name;
            },
            failOnError: true
        ]
    }

    withName: 'MULTIQC' {
        cpus   = { check_max( 1                  , 'cpus'    ) }
        memory = { check_max( 6.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 4.h  * task.attempt, 'time'    ) }

        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }
}
